<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <table cellspacing="10" cellpadding="0">
			<tr>
		    	<td style="width: 500px;"><b>Beschreibung:</b> <%= f.text_field :title %></td>
		  	</tr>
        <tr>
            <td style="width: 500px;"><b>Datum:</b> <%= f.text_field :date, :id => 'datepicker', :size => 10 %></td>
        </tr>
		  	<tr>
		    	<td style="width: 500px;"><%= f.text_area :content, :class => "mceEditor" %></td>
		  	</tr>
			<tr>
		    	<td style="width: 500px; text-align: right;"><%= f.submit 'Bearbeiten/Hinzufügen' %></td>
		  	</tr>
	</table>
<% end %>
