<!DOCTYPE html>
<html>
<head>
  <title>DASBUCH</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  

  
</head>
<body>
  <noscript>
    <div>
      <table cellspacing="0" cellpadding="0" width="100%" style="text-align: center; background-color: #cf0513; color: white;">
    <tbody>
      <tr>      
        <td style="width: 100%; font-size: 13px;">JavaScript ist nicht aktiviert. Bitte aktivieren Sie JavaScript in ihren Browsereinstellungen.</td>
    </tr>
    </tbody></table>
    </div>
  </noscript>
  <div id="box">

  
 

  <div id="linksHeader">
    
    <% if !session[:user_id] %>
      
    
    <%= link_to 'Newsletter', :controller => 'home', :action => 'index' %> |
    <%= link_to 'Kundenkonto', :controller => 'home', :action => 'index' %>
    <% end %>
  </div>

   <div id="header">

    <h1><a href="/" title="zur Startseite">Test</a></h1>
   </div>

   <div id="navigation">
   </div>

   <div id="content">
      <br />      
      <%= yield %>
   </div>



   <div id="footer">
   <hr style="background-color:#dbdbdb ;height:2px;width:100%; text-align:left;">
      <div id="footer_cr">
  &copy; 2010 Buchhandlung DAS BUCH
  <br/>
      </div>
      <br/>
      <div style="text-align: center; font-size: 10px;">
  Website wurde erstellt mit Ruby on Rails. <br/>
  Kontaktieren Sie den Webmaster bei Fragen oder Anregungen.
      </div>
   </div>
  <br/>
  </div>

 </body>

</html>
</html>
